

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}



.header i.material-icons {
    font-size: 70px;
    margin-left: 10%;
 
    
}

.header h1 {
    
    color: #9ab693;
    font-variant: small-caps;
    margin-right: 10%;
   
}

.header i.material-icons, 
.header h1 {
 
  padding-top: 1%;
}


.stroke {
    margin-top: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.stroke h2 {
    margin: auto;
    text-align: center;
    
}

.stroke h5 {
    margin: auto;
    text-align: center;
   
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin-bottom: 20px;
    padding: 10px;
    width: 60%;
    border: 1px solid #D3E4CD;
    border-radius: 5px;
}

form input:focus {
    outline: none;
    border: 1px solid #9ab693;
}

form button {
    margin-top: 20px;
    padding: 10px;
    width: 60%;
    border: 1px solid #D3E4CD;
    border-radius: 5px;
    background-color: #9ab693;
    color: white;
    font-weight: bold;
}

form button:hover {
    background-color: #D3E4CD;
    color: #9ab693;
}

form p {
    margin-top: 20px;
    font-size: 12px;
    color: #9ab693;
}   

form p a {
    color: #9ab693;
    text-decoration: none;
}   

form p a:hover {
    color: #D3E4CD;
    text-decoration: underline;
}

