/* Event Page */

.image-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 50vh; /* Make the container take the full viewport height */
  margin-top: 10px;
}

.eventImage {
  /* Add any additional styling for your image here */
  max-width: 100%; /* Ensure the image does not exceed its container */
  max-height: 100%; /* Ensure the image does not exceed its container */
}

/* Event info box */
.container {
  display: flex;
  width: 100%;
}

.information-box,
.description-box,
.discussion-board {
  margin-top: 10px;
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* Add spacing between the boxes */
}

.calendar {
  margin-top: 10px;
  flex: 2;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* Add spacing between the boxes */
}

.shopping-list {
  margin-top: 10px;
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* Add spacing between the boxes */
}

.information-box h2,
.description-box h2,
.shopping-list h2 {
  font-size: 18px;
}

.information-box ul {
  list-style: none;
  padding: 0;
}

.information-box ul li {
  margin-bottom: 8px;
}

.information-box ul li strong {
  font-weight: bold;
}

.discussion-board {
  flex: 2;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  overflow: hidden; /* Hide content that overflows the container */
}

.discussion-content {
  max-height: 1000px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Add a vertical scrollbar when content overflows */
}

.shopping-content {
  max-height: 200px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Add a vertical scrollbar when content overflows */
}

.actionBar {
  margin-top: 5px;
  text-align: center;
}

.actionBar button {
  display: inline-block;
  padding: 10px 20px; /* Adjust the padding as needed */
  border: none;
  border-radius: 50px; /* Use a high value to create a circular shape */
  background-color: #d3e4cd;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
}

.actionBar button:hover {
  background-color: #a0c686; /* Darker Green */
}

.person1 {
  border: 2px solid #4caf50; /* Green border color for Person A */
  background-color: #dff0d8; /* Light green background color for Person A */
  border-radius: 15px; /* Use a high value to create a circular shape */
  padding: 10px 20px; /* Adjust the padding as needed */
}

.person2 {
  border: 2px solid #d4c8a2; /* Darker green border color for Person B */
  background-color: #f9f3db; /* Lighter green background color for Person B */
  border-radius: 15px; /* Use a high value to create a circular shape */
  padding: 10px 20px; /* Adjust the padding as needed */
}

.person3 {
  border: 2px solid #8b4513; /* Different shade of green for Person C */
  background-color: #d2b48c; /* Light green background color for Person C */
  border-radius: 15px; /* Use a high value to create a circular shape */
  padding: 10px 20px; /* Adjust the padding as needed */
}

/* Styling for the calendar */
.calendar {
  width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  border: 1px solid #ccc;
}

#month-year {
  font-size: 18px;
  font-weight: bold;
}

.selected-date {
  background-color: green;
  color: white;
}

/* Event Page END*/

/*Removes excess white-space on the right, which does not belong to any elements*/
/* Doesn't allow for sticky navbar. When not activated, it results in excess white-space on the right of the page. 
body {
  overflow-x: hidden;
}
*/

.navbar {
  background-color: #d3e4cd;
}

/* Index Video position*/
#myVideo {
  position: relative;
  top: 0px;
  width: 100%;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

/* Changing navbar menu item spacing to fit size */
@media (max-width: 880px) {
  #navbar_menu li {
    padding: 0px 9px !important;
  }
}
/* big navbar menu item spacing to fit big screen */
#navbar_menu li {
  padding: 0px 23px;
}

/* navbar menu item */
#navbar_menu a {
  font-size: 21px;
  font-weight: bold;
  color: #1c1c1c !important;
}
#navbar_menu a:hover {
  color: var(--ITUgreen) !important;
}
#search_minimized {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbarMenuLine {
  margin-top: 2%;
  margin-bottom: 2%;
  height: 1px !important;
  color: #1c1c1c !important;
}

#offcanvasScrollingLabel {
  padding-left: 10px;
  font-weight: bold;
}

/* moving icon in */
#icon_container {
  margin-right: 2%;
}

#icon_container li button {
  padding: 0%;
}

/* moving logo in*/
#largeLogo {
  margin-left: 2%;
}

#icons li {
  margin: 0px 5px;
}

/* setting icon list to horizontal */
#icons {
  flex-direction: row;
}

/*icon looks */
#icons li a {
  font-size: 16px;
  color: #1c1c1c !important;
}

.inline-button {
  margin-top: 7px;
  font-size: 15px;
}
@media (max-width: 800px) {
  .offcanvas {
    width: 60% !important;
  }
}
.offcanvas {
  width: 30%;
}

#offcanvasRight {
  height: 70px !important;
  top: 70px !important;
  max-width: 350px !important;
}

.small_menu a {
  font-size: 18px;
  font-weight: bold;
  color: #1c1c1c !important;
}
.small_menu a:hover {
  color: var(--ITUgreen) !important;
}

#cd-cart {
  right: -100%;
  background: #fff;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s;
}
#cd-cart.speed-in {
  right: 0;
}
#cd-cart > * {
  padding: 0 1em;
}
#cd-cart h2 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}
#cd-cart .cd-cart-items {
  padding: 0;
}
#cd-cart .cd-cart-items li {
  position: relative;
  padding: 1em;
  border-top: 1px solid #e0e6ef;
  list-style-type: none;
}
#cd-cart .cd-cart-items li:last-child {
  border-bottom: 1px solid #e0e6ef;
}
#cd-cart .cd-qty-price {
  color: #a5aebc;
}
#cd-cart .cd-price {
  margin-top: 0.4em;
}
#cd-cart .cd-item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: var(--SoftBlack);
}
.no-touch #cd-cart .cd-item-remove:hover {
  background-color: #e0e6ef;
}
#cd-cart .cd-cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}
#cd-cart .cd-cart-total span {
  float: right;
}
#cd-cart .cd-cart-total::after {
  content: "";
  display: table;
  clear: both;
}

.no-touch #cd-cart .checkout-btn:hover {
  background: #a2dda8;
}
#cd-cart .cd-go-to-cart {
  text-align: center;
  margin: 1em 0;
}
#cd-cart .cd-go-to-cart a,
.checkout-btn {
  text-decoration: none;
}
/*************** ******************/

#main-container {
  display: table;
  width: 100%;
  height: 100%;
}

#sidebar {
  position: fixed;
  vertical-align: top;
  left: -400px;
  width: 12.7%;
  height: 100%;
  font-family: "Spartan", sans-serif;
  transition: all 0.5s ease;
  background: #088178;
  border-right: 0.5px solid black;
}

#sidebar h2 {
  text-align: center;
  font-size: 15px;
  color: black;
  line-height: 70px;
  user-select: none;
}

#sidebar ul a {
  display: block;
  height: 100%;
  width: 80%;
  line-height: 65px;
  font-size: 10px;
  color: black;
  padding-left: 5px;
  box-sizing: border-box;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid #465b52;
  transition: 0.4s;
}

ul li:hover a {
  padding-left: 50px;
}

#sidebar ul a i {
  margin-right: 16px;
}

#sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: black !important;
  padding-left: 50px;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: fixed;
  cursor: pointer;
  background: #042331;
}

label #btn {
  left: 40px;
  top: 100px;
  font-size: 15px;
  color: white;
  padding: 6px 12px;
}

label #cancel {
  z-index: 1111;
  left: -195px;
  top: 155px;
  font-size: 10px;
  color: #0a5275;
  padding: 4px 9px;
}

#check:checked ~ #sidebar {
  left: 0;
}

#check:checked ~ #content {
  width: 88%;
  transition: all 0.5s ease;
}

#check:checked ~ label #btn {
  left: 240px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

#check:checked ~ label #cancel {
  left: 140px;
  top: 95px;
  transition: all 0.4s ease;
}

/* NEW CSS */
.event-image-preview {
  display: block;
  margin: 0 auto;
  max-width: 30%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-group {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form label,
form input,
form textarea,
form select {
  display: block;
}

label {
  /* font-weight: bold; */
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  max-width: 500px;
}

input[type="submit"] {
  background-color: #abcda4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #d3e4cd;
}

#error-message {
  color: red;
  margin-top: 10px;
}
