* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
body {
  background: #efefef;
}
.logo {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px;
}
h1 {
  font-size: 50px;
  line-height: "64px";
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}
body {
  width: 100%;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff2e5;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.transparant {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

/* FOOTER START */

footer .follow {
  margin-top: 30px;
  align-self: start;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

/* FOOTER END */

/* FEATURED PRODUCTS START */

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  /* wraps content to stay within the page*/
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  margin: 15px 0;
  transition: 0.2s ease;
  margin-left: 30px;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.01);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #1c7b49;
}

#product1 .pro .bag {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  /* font-weight: 500; */
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#logo {
  position: sticky;
  padding-left: 0%;
}
/* FEATURED PRODUCTS END */

/* NEWSLETTER START */

#newsletter {
  /* display: flex; */
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: black;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 80%;
}

#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  outline: none;
  border-radius: 4px;
  position: relative;
}

#newsletter-button {
  padding: 4px 0px !important;
  margin-left: 5px;
  width: 20%;
}

#newsletter-button:hover {
  background: #088178;
  color: #fff;
}

#button.normal:hover {
  background: #088178;
  color: #fff;
}

.form #newsletter-box {
  white-space: nowrap;
}

/* SMALL BANNER START */

#small-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

#small-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: url("/img/smallteabanner.jpg");
  width: 720px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#small-banner .banner-box2 {
  background-image: url("/Img/smallteabanner.jpg");
  background-size: center;
}

#small-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}

#small-banner h2 {
  color: #ebebeb;
}

#small-banner span {
  color: #fddde4;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#small-banner .banner-box:hover button {
  background: #d7d26f;
  border: 1px solid #d7d26f;
}

/* FULL BANNER START */

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-image: url("/img/teawall.jpg");
  width: 100%;
  height: 40vh;
  background-position: center;
}

#banner h4 {
  color: #fff2e5;
  font-size: 16px;
}

#banner h2 {
  color: #fff2e5;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: red;
}

#banner button:hover {
  background: #088178;
  color: #fff;
}

/* IPAD sized screens */

@media (max-width: 799px) {
  #product1 .pro-container {
    justify-content: center;
  }

  #product1 .pro {
    margin: 15px;
  }

  #banner {
    height: 20vh;
  }

  #small-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    margin-bottom: 5%;
  }

  #small-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

/* Phone sized screens */

@media (max-width: 477px) {
  #product1 .pro {
    width: 100%;
  }

  #banner {
    height: 40vh;
  }

  #small-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #small-banner h2 {
    font-size: 26px;
    line-height: 54px;
    color: #ebebeb;
  }

  #small-banner .banner-box {
    height: 40vh;
    width: 100%;
  }

  #newsletter .form {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;
  }
}

:root {
  --ITUgreen: #abcda4;
  --SoftBlack: #1c1c1c;
}
/*Removes excess white-space on the right, which does not belong to any elements*/
/* Doesn't allow for sticky navbar. When not activated, it results in excess white-space on the right of the page. 
body {
  overflow-x: hidden;
}
*/

.navbar {
  background-color: #d3e4cd;
}

/* Index Video position*/
#myVideo {
  position: relative;
  top: 0px;
  width: 100%;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

/* Changing navbar menu item spacing to fit size */
@media (max-width: 880px) {
  #navbar_menu li {
    padding: 0px 9px !important;
  }
}
/* big navbar menu item spacing to fit big screen */
#navbar_menu li {
  padding: 0px 23px;
}

/* navbar menu item */
#navbar_menu a {
  font-size: 21px;
  font-weight: bold;
  color: #1c1c1c !important;
}
#navbar_menu a:hover {
  color: var(--ITUgreen) !important;
}
#search_minimized {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbarMenuLine {
  margin-top: 2%;
  margin-bottom: 2%;
  height: 1px !important;
  color: #1c1c1c !important;
}

#offcanvasScrollingLabel {
  padding-left: 10px;
  font-weight: bold;
}

/* moving icon in */
#icon_container {
  margin-right: 2%;
}

#icon_container li button {
  padding: 0%;
}

/* moving logo in*/
#largeLogo {
  margin-left: 2%;
}

#icons li {
  margin: 0px 5px;
}

/* setting icon list to horizontal */
#icons {
  flex-direction: row;
}

/*icon looks */
#icons li a {
  font-size: 16px;
  color: #1c1c1c !important;
}

.inline-button {
  margin-top: 7px;
  font-size: 15px;
}
@media (max-width: 800px) {
  .offcanvas {
    width: 60% !important;
  }
}
.offcanvas {
  width: 30%;
}

#offcanvasRight {
  height: 70px !important;
  top: 70px !important;
  max-width: 350px !important;
}

.small_menu a {
  font-size: 18px;
  font-weight: bold;
  color: #1c1c1c !important;
}
.small_menu a:hover {
  color: var(--ITUgreen) !important;
}

#cd-cart {
  right: -100%;
  background: #fff;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s;
}
#cd-cart.speed-in {
  right: 0;
}
#cd-cart > * {
  padding: 0 1em;
}
#cd-cart h2 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}
#cd-cart .cd-cart-items {
  padding: 0;
}
#cd-cart .cd-cart-items li {
  position: relative;
  padding: 1em;
  border-top: 1px solid #e0e6ef;
  list-style-type: none;
}
#cd-cart .cd-cart-items li:last-child {
  border-bottom: 1px solid #e0e6ef;
}
#cd-cart .cd-qty-price {
  color: #a5aebc;
}
#cd-cart .cd-price {
  margin-top: 0.4em;
}
#cd-cart .cd-item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: var(--SoftBlack);
}
.no-touch #cd-cart .cd-item-remove:hover {
  background-color: #e0e6ef;
}
#cd-cart .cd-cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}
#cd-cart .cd-cart-total span {
  float: right;
}
#cd-cart .cd-cart-total::after {
  content: "";
  display: table;
  clear: both;
}

.no-touch #cd-cart .checkout-btn:hover {
  background: #a2dda8;
}
#cd-cart .cd-go-to-cart {
  text-align: center;
  margin: 1em 0;
}
#cd-cart .cd-go-to-cart a,
.checkout-btn {
  text-decoration: none;
}
/*************** ******************/

#main-container {
  display: table;
  width: 100%;
  height: 100%;
}

#sidebar {
  position: fixed;
  vertical-align: top;
  left: -400px;
  width: 12.7%;
  height: 100%;
  font-family: "Spartan", sans-serif;
  transition: all 0.5s ease;
  background: #088178;
  border-right: 0.5px solid black;
}

#sidebar h2 {
  text-align: center;
  font-size: 15px;
  color: black;
  line-height: 70px;
  user-select: none;
}

#sidebar ul a {
  display: block;
  height: 100%;
  width: 80%;
  line-height: 65px;
  font-size: 10px;
  color: black;
  padding-left: 5px;
  box-sizing: border-box;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid #465b52;
  transition: 0.4s;
}

ul li:hover a {
  padding-left: 50px;
}

#sidebar ul a i {
  margin-right: 16px;
}

#sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: black !important;
  padding-left: 50px;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: fixed;
  cursor: pointer;
  background: #042331;
}

label #btn {
  left: 40px;
  top: 100px;
  font-size: 15px;
  color: white;
  padding: 6px 12px;
}

label #cancel {
  z-index: 1111;
  left: -195px;
  top: 155px;
  font-size: 10px;
  color: #0a5275;
  padding: 4px 9px;
}

#check:checked ~ #sidebar {
  left: 0;
}

#check:checked ~ #content {
  width: 88%;
  transition: all 0.5s ease;
}

#check:checked ~ label #btn {
  left: 240px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

#check:checked ~ label #cancel {
  left: 140px;
  top: 95px;
  transition: all 0.4s ease;
}

/***************   main content    *******************/

#content {
  display: table-cell;
  width: 100%;
  vertical-align: top;
  padding: 10px 0 0 10px;
  transition: all 0.5s ease;
}

#teaproducts {
  text-align: center;
}

#teaproducts h2 {
  font-family: "Spartan", sans-serif;
}

#teaproducts .pro-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  column-gap: 30px;
  /* wraps content to stay within the page*/
  flex-wrap: wrap;
}

#teaproducts .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
}

#teaproducts.pro .picturetext {
  text-align: start;
  padding: 10px 0;
}

#teaproducts.pro .picturetext h5 {
  text-align: start;
  padding: 10px 0;
}

#teaproducts .pro .picturetext span {
  color: 606063;
  font-size: 12px;
}

#teaproducts .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#teaproducts .pro img {
  display: flex;
  row-gap: 25px;
  width: 100%;
  border-radius: 20px;
}

#teaproducts .pro .picturetext h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#teaproducts .pro .picturetext i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#teaproducts .pro .picturetext h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#teaproducts .pro .picturetext h5 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: black;
}

#teaproducts .pro .picturetext .cart {
  display: inline-block;
  padding-top: 7px;
  font-size: 10px;
  font-weight: 700;
}

#Tea-highlight {
  display: inline-block;
}

#Tea-highlight .highlight {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

/******** ******************/

#hero {
  background-image: url("/img/lol.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 50% right 0%;
  background-repeat: no-repeat;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}
#hero h5 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #1a1a1a;
}

#hero h1 {
  color: white;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 200px;
}

#feature .feat-box {
  width: 180px;

  text-align: center;
  border-image-width: auto;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .feat-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .feat-box img {
  margin-bottom: 10px;
  max-width: 100%;
  max-height: 160px;
  object-fit: cover;
  overflow: hidden;
  column-gap: 30px;
}

#feature .feat-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#feature .feat-box:nth-child(2) h6 {
  background: #cdebbc;
}

#feature .feat-box:nth-child(3) h6 {
  background: #d1e8f2;
}

#feature .feat-box:nth-child(4) h6 {
  background: #cdd4f8;
}

#feature .feat-box:nth-child(5) h6 {
  background: #fff2e5;
}

#product1 {
  text-align: center;
}

#coffeebanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-image: url("/img/bigbanner.png");
  background-size: cover;

  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-position: center;
}

#coffeebanner h4 {
  color: #fff2e5;
  font-size: 16px;
}

#coffeebanner h2 {
  color: #fff2e5;
  font-size: 30px;
  padding: 10px 0;
}

#coffeebanner h2 span {
  color: red;
}

#coffeebanner button:hover {
  background: #088178;
  color: #fff;
}

/************** SALE BUTTON **/

a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
}
a.button1:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  a.button1 {
    display: block;
    margin: 0.4em auto;
  }
}

/********* last coffee pictures */

#cofacc-banner .pro-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  column-gap: 50px;
  /* wraps content to stay within the page*/
  flex-wrap: wrap;
}

#cofacc-banner .pro {
  width: 40%;

  padding: 10px 12px;
  margin: 15px 0;
  transition: 0.2s ease;
}

#cofacc-banner .pro .header1 {
  padding-top: 300px;
  background-image: url("/img/coffee-daily-longer-life-feat-image.jpg");
  height: 730px;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
}

#cofacc-banner .pro .header2 {
  padding-top: 300px;
  background-image: url("/img/Coffee_People_Zine_Kat_Melheim_Andrew_Horton_2-1160x780.jpg");
  background-size: cover;
  height: 730px;
  width: 100%;
  position: relative;
}

#cofacc-banner .pro .header1 h4 {
  padding-left: 50px;
  color: black;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}

#cofacc-banner .pro .header1 h3 {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  color: #ebebeb;
}

#cofacc-banner .pro .header1 span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}

#cofacc-banner .pro .header1 h4:hover button {
  text-align: center;
  background: whitesmoke;
  border: 1px solid #d7d26f;
}

#cofacc-banner .pro .header2 h4 {
  color: black;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}

#cofacc-banner .pro .header2 h3 {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  color: #ebebeb;
}

#cofacc-banner .pro .header2 span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}

#cofacc-banner .pro .header2 h4:hover button {
  text-align: center;
  background: whitesmoke;
  border: 1px solid #d7d26f;
}

/*********TEA BIG PICTURE **** */

#teabigpicture {
  background-image: url("/img/bigtea.jpg.webp");
  border-radius: 20px;
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 50% right 0%;
  background-repeat: no-repeat;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#teabigpicture h4 {
  padding-bottom: 15px;
  background-color: white;
  text-align: center;
}

#teabigpicture h3 {
  padding-bottom: 15px;
  background-color: white;
}

#teabigpicture h5 {
  background-color: white;
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #1a1a1a;
}

#teabigpicture h1 {
  color: black;
  background-color: white;
}
/*********     **************/

#longteabanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("/img/Skærmbillede\ 2023-03-02\ kl.\ 10.09.07.png");
  background-size: cover;

  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-position: center;
}

#longteabanner h4 {
  color: #fff2e5;
  font-size: 16px;
}

#longteabanner h2 {
  color: #fff2e5;
  font-size: 30px;
}

#longteabanner h2 a {
  color: black;
  box-shadow: inset 0 0 0 0 #54b3d6;

  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#longteabanner h2 a:hover {
  box-shadow: aliceblue 100px 0 0 0 #54b3d6;
  color: white;
}

/******************            ********************/

#firstbanner .pro-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  column-gap: 120px;
  /* wraps content to stay within the page*/
  flex-wrap: wrap;
}

#firstbanner .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;

  margin: 15px 0;
  transition: 0.2s ease;
}
#firstbanner .pro .header1 {
  background-image: url("/img/Or.Tilbehoer.front.w600.h799.jpeg.webp");
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;

  position: relative;
}

#firstbanner .pro .header1 h2 {
  color: white;
  position: absolute;
  padding-bottom: 35px;
  bottom: 0;
  width: 100%; /* make the header width 100% of the element */
  text-align: center;
}

#firstbanner .pro .header2 {
  background-image: url("/img/Yerba.mate.front.w600.h799.jpeg.webp");
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
}

#firstbanner .pro .header2 h2 {
  color: white;
  position: absolute;
  padding-bottom: 35px;
  bottom: 0;
  width: 100%; /* make the header width 100% of the element */
  text-align: center;
  background-repeat: no-repeat;
}

#firstbanner .pro .header3 {
  background-image: url("/img/Tilbehoer.front1.w600.h799.jpeg.webp");
  height: 800px;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
}

#firstbanner .pro .header3 h2 {
  color: white;
  position: absolute;
  padding-bottom: 35px;
  bottom: 0;
  width: 100%; /* make the header width 100% of the element */
  text-align: center;
}

#firstbanner .pro .header1 a {
  color: #b8860b;
  position: absolute;
  padding-bottom: 10px;
  bottom: 0;
  width: 100%; /* make the header width 100% of the element */
  text-align: center;

  box-shadow: inset 0 0 0 0 #54b3d6;

  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#firstbanner .pro .header1 a:hover {
  box-shadow: aliceblue 100px 0 0 0 #54b3d6;
  color: white;
}

#firstbanner .pro .header2 a {
  color: #b8860b;
  position: absolute;
  padding-bottom: 10px;
  bottom: 0;
  width: 100%; /* make the header width 100% of the element */
  text-align: center;

  box-shadow: inset 0 0 0 0 #54b3d6;

  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#firstbanner .pro .header2 a:hover {
  box-shadow: aliceblue 100px 0 0 0 #54b3d6;
  color: white;
}

#firstbanner .pro .header3 a {
  color: #b8860b;
  position: absolute;
  padding-bottom: 10px;
  bottom: 0;
  width: 100%; /* make the header width 100% of the element */
  text-align: center;

  box-shadow: inset 0 0 0 0 #54b3d6;

  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#firstbanner .pro .header3 a:hover {
  box-shadow: aliceblue 100px 0 0 0 #54b3d6;
  color: white;
}

/********* last tea pictures */

#tea-banner .pro-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  column-gap: 0px;
  /* wraps content to stay within the page*/
  flex-wrap: wrap;
}

#tea-banner .pro {
  width: 40%;

  padding: 10px 12px;
  margin: 15px 0;
  transition: 0.2s ease;
}

#tea-banner .pro .header1 {
  padding-top: 100px;
  background-image: url("/img/women-drinking-tea.jpg");
  height: 800px;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
}

#tea-banner .pro .header2 {
  padding-top: 100px;
  background-image: url("/img/Smallteabanner2.jpg");
  background-size: cover;
  height: 730px;
  width: 100%;
  position: relative;
}

#tea-banner .pro .header1 h4 {
  padding-left: 50px;
  color: black;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}

#tea-banner .pro .header1 h3 {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  color: #ebebeb;
}

#tea-banner .pro .header1 span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}

#tea-banner .pro .header1 h4:hover button {
  text-align: center;
  background: whitesmoke;
  border: 1px solid #d7d26f;
}

#tea-banner .pro .header2 h4 {
  color: black;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}

#tea-banner .pro .header2 h3 {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
  color: #ebebeb;
}

#tea-banner .pro .header2 span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;
}

#tea-banner .pro .header2 h4:hover button {
  text-align: center;
  background: whitesmoke;
  border: 1px solid #d7d26f;
}

/******** ACCESSORIES *******/

#a-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-image: url("/img/Skærmbillede\ 2023-03-07\ kl.\ 22.29.10.png");
  background-size: cover;

  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-position: center;
}

#a-banner h4 {
  color: #fff2e5;
  font-size: 16px;
}

#a-banner h2 {
  color: #fff2e5;
  font-size: 30px;
  padding: 10px 0;
}

#a-banner h2 span {
  color: red;
}

#a-banner button:hover {
  background: #088178;
  color: #fff;
}

@media (max-width: 830px) {
  label #btn {
    display: none;
  }

  label #cancel {
    display: none;
  }

  #sidebar {
    display: none;
  }

  #firstbanner .pro {
    width: auto;
    min-width: 400px;
    padding: 10px 12px;
    margin: 15px 0;
    transition: 0.2s ease;
  }

  #longteabanner {
    display: flex;
  }

  #tea-banner {
    display: none;
  }

  #cofacc-banner {
    display: none;
  }
}

@media (max-width: 477px) {
  label #btn {
    display: none;
  }

  label #cancel {
    display: none;
  }

  #sidebar {
    display: none;
  }

  #teabigpicture {
    height: 60vh;
    width: 95%;
  }

  #teabigpicture h4 {
    padding-bottom: 15px;
  }

  #teabigpicture h3 {
    font-size: 10px;
  }

  #teabigpicture h5 {
    font-size: 10px;
  }

  #teabigpicture h1 {
    font-size: 13px;
  }

  #teaproducts .pro-container {
    overflow-x: auto !important;
    white-space: nowrap !important;
  }

  #firstbanner .pro .header1 {
    height: 340px;

    width: auto;
  }

  #firstbanner .pro .header1 h2 {
    font-size: 10px;
  }

  #firstbanner .pro .header2 {
    height: 340px;
    width: auto;
  }

  #firstbanner .pro .header2 h2 {
    font-size: 10px;
  }

  #firstbanner .pro .header3 {
    height: 340px;
    display: flex;
    width: auto;
  }

  #firstbanner .pro .header3 h2 {
    font-size: 10px;
  }

  #firstbanner .pro .header1 a {
    font-size: 15px;
  }

  #firstbanner .pro .header2 a {
    font-size: 15px;
  }

  #firstbanner .pro .header3 a {
    font-size: 15px;
  }

  #longteabanner {
    width: auto;
    height: 40vh;
  }

  #longteabanner h4 {
    font-size: 10px;
  }

  #longteabanner h2 {
    font-size: 20px;
  }

  #tea-banner {
    display: none;
  }
  #cofacc-banner {
    display: none;
  }

  .navbar {
    width: 100%;
  }

  #footer {
    width: 100%;
  }

  .video-container {
    width: 100%;
  }
}
/* NEW CSS */
.event-image-preview {
  display: block;
  margin: 0 auto;
  max-width: 30%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-group {
  text-align: center;
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;

}
form label,
form input,
form textarea,
form select {
  display: block;

}

label {
  font-weight: bold;

}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  max-width: 500px;
}


input[type="submit"] {
  background-color: #ABCDA4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #D3E4CD;
}

#error-message {
  color: red;
  margin-top: 10px;
}
